flows.json
[{"id":"6c271006.6a18a","type":"tab","label":"Track","disabled":false,"info":""},{"id":"63ab4c7c.8860f4","type":"mqtt in","z":"6c271006.6a18a","name":"","topic":"room1/entra","qos":"2","datatype":"auto","broker":"44518692.b4d328","x":90,"y":40,"wires":[["43c73989.336f68"]]},{"id":"a6a0471d.024238","type":"mqtt in","z":"6c271006.6a18a","name":"","topic":"room3/entra","qos":"2","datatype":"auto","broker":"44518692.b4d328","x":90,"y":140,"wires":[["43c73989.336f68"]]},{"id":"540dfcbb.db7a64","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":570,"y":160,"wires":[["d6325aca.79d5d8"]]},{"id":"43c73989.336f68","type":"switch","z":"6c271006.6a18a","name":"IsEmpty","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":80,"wires":[["f70dc3ec.7354"]]},{"id":"d6325aca.79d5d8","type":"debug","z":"6c271006.6a18a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"f70dc3ec.7354","type":"function","z":"6c271006.6a18a","name":"INSERT ","func":"var data=msg.topic.split(\"/\");\nvar data2=msg.payload.split(\"/\");\nmsg.room=data[0];\nmsg.state=data2[0];\nmsg.username=data2[1];\nif(msg.state==\"enter\") msg.state=1;\nif(msg.state==\"exit\") msg.state=0;\nmsg.topic=' CALL insertUser(\"'+msg.room+'\",\"'+msg.username+'\", '+msg.state+', @p3);'\nmsg.payload = \"Data Inserted successfully!”  \";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["7bd80b3.aed1cf4","540dfcbb.db7a64"]]},{"id":"a89fcd2a.936b7","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":730,"y":260,"wires":[["6e57ecfd.9880b4"]]},{"id":"59b7e0c6.1f456","type":"function","z":"6c271006.6a18a","name":"SELECT-Room1","func":"var date=(new Date()).toLocaleDateString();\n date=date.split(\"/\");\n date=date[2]+\"/\"+date[0]+\"/\"+date[1];\nmsg.topic=\"CALL getTotal('room1','\"+date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["a89fcd2a.936b7"]]},{"id":"6e57ecfd.9880b4","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nmsg = {payload:p[0][0].count,max:p[0][0].cap,ui_control:{max:p[0][0].cap}};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":260,"wires":[["fbb76078.2badb","2bf363f8.d55d7c"]]},{"id":"7bd80b3.aed1cf4","type":"switch","z":"6c271006.6a18a","name":"","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"room1","vt":"str"},{"t":"eq","v":"room2","vt":"str"},{"t":"eq","v":"room3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":460,"wires":[["59b7e0c6.1f456","7fda28d6.2a85e8","793aeae4.f06034","7dce7da2.6d97f4"],["94f2c694.66d0e8","aec8d839.ce42f8","6d6d23bf.75d19c"],["a4b25ac7.623ed8","793aeae4.f06034","cd6ca3e.694a16"]]},{"id":"66b22efa.11711","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":750,"y":320,"wires":[["3ef30957.054786"]]},{"id":"3ef30957.054786","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nmsg = {payload:p[0][0].count,max:p[0][0].cap,ui_control:{max:p[0][0].cap}};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":320,"wires":[["c3e72e1d.2a7c4","c1e3bd42.2f654"]]},{"id":"c3e72e1d.2a7c4","type":"ui_gauge","z":"6c271006.6a18a","name":"Room2","group":"57f82290.5480ec","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"People","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":280,"wires":[]},{"id":"9033acda.bfb6a","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":770,"y":380,"wires":[["6144d580.96d8cc"]]},{"id":"6144d580.96d8cc","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nmsg = {payload:p[0][0].count,max:p[0][0].cap,ui_control:{max:p[0][0].cap}};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":380,"wires":[["f1877b87.c91328","143a55c8.91220a","a13e77ff.a763f8"]]},{"id":"f1877b87.c91328","type":"ui_gauge","z":"6c271006.6a18a","name":"Room3","group":"985b8e15.1a28a","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"People","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":360,"wires":[]},{"id":"94f2c694.66d0e8","type":"function","z":"6c271006.6a18a","name":"SELECT-Room2","func":"var date=(new Date()).toLocaleDateString();\n date=date.split(\"/\");\n date=date[2]+\"/\"+date[0]+\"/\"+date[1];\nmsg.topic=\"CALL getTotal('room2','\"+date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["66b22efa.11711"]]},{"id":"a4b25ac7.623ed8","type":"function","z":"6c271006.6a18a","name":"SELECT-Room3","func":"var date=(new Date()).toLocaleDateString();\n date=date.split(\"/\");\n date=date[2]+\"/\"+date[0]+\"/\"+date[1];\nmsg.topic=\"CALL getTotal('room3','\"+date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":380,"wires":[["9033acda.bfb6a"]]},{"id":"e3295fa.577bba","type":"e-mail","z":"6c271006.6a18a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"mrw.abdalmoula@gmail.com","dname":"","x":1380,"y":300,"wires":[]},{"id":"3bc21d71.7558b2","type":"debug","z":"6c271006.6a18a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":360,"wires":[]},{"id":"fbb76078.2badb","type":"function","z":"6c271006.6a18a","name":"Trigger Alarm Room1","func":"var peopel=msg.payload;\nvar capacity=msg.max;\nvar alarm=context.get(\"alarm\");\nif(typeof alarm==\"undefined\")\nalarm=false;\n\nif(peopel>capacity && !alarm)\n{\n    alarm=true;\n    msg.alarm=1;\n    context.set(\"alarm\",alarm);\n    msg.topic=\"Room1 Alarm\";\n    msg.payload=\"This message sent by Node-red, the number of people in the room is more than allwoed\";\n    return msg;\n}\nif(peopel<=capacity && alarm){\n    alarm=false;\n    msg.alarm=0;\n    context.set(\"alarm\",alarm)\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["e3295fa.577bba","3bc21d71.7558b2"]]},{"id":"c1e3bd42.2f654","type":"function","z":"6c271006.6a18a","name":"Trigger Alarm Room2","func":"var peopel=msg.payload;\nvar capacity=msg.max;\nvar alarm=context.get(\"alarm\");\nif(typeof alarm==\"undefined\")\nalarm=false;\n\nif(peopel>capacity && !alarm)\n{\n    alarm=true;\n    msg.alarm=1;\n    context.set(\"alarm\",alarm);\n    msg.topic=\"Room2 Alarm\";\n    msg.payload=\"This message sent by Node-red, the number of people in the room is more than allwoed\";\n    return msg;\n}\nif(peopel<=capacity && alarm){\n    alarm=false;\n    msg.alarm=0;\n    context.set(\"alarm\",alarm)\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":320,"wires":[["e3295fa.577bba","3bc21d71.7558b2"]]},{"id":"143a55c8.91220a","type":"function","z":"6c271006.6a18a","name":"Trigger Alarm Room3","func":"var peopel=msg.payload;\nvar capacity=msg.max;\nvar alarm=context.get(\"alarm\");\nif(typeof alarm==\"undefined\")\nalarm=false;\n\nif(peopel>capacity && !alarm)\n{\n    alarm=true;\n    msg.alarm=1;\n    context.set(\"alarm\",alarm);\n    msg.topic=\"Room3 Alarm\";\n    msg.payload=\"This message sent by Node-red, the number of people in the room is more than allwoed\";\n    return msg;\n}\nif(peopel<=capacity && alarm){\n    alarm=false;\n    msg.alarm=0;\n    context.set(\"alarm\",alarm)\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":400,"wires":[["e3295fa.577bba","3bc21d71.7558b2"]]},{"id":"793aeae4.f06034","type":"function","z":"6c271006.6a18a","name":"Get History","func":"var room=msg.payload;\nroom=\"room3\"\nmsg.topic=\"CALL getHistory('\"+room+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":460,"wires":[["38e27ac4.8f6fa6"]]},{"id":"38e27ac4.8f6fa6","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":710,"y":460,"wires":[["1300c018.a9455"]]},{"id":"1300c018.a9455","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nvar values=p[0];\nvar data = [];\nvar month = [];\nvar series=[];\nvar student=[];\nvar teacher=[];\nvar all=[];\nvalues.forEach(function(value){\n    student.push(value['count_student']);\n    teacher.push(value['count_teacher']);\n    all.push(value['count_all']);\n    month.push(value['per_day']);\n});\ndata.push(student,teacher)\n// values.forEach(function(value) {\n//     console.log(value);\n//   data.push(\n//       [  value['count_students'],\n//      value['count_teacher'],\n//     value['count_all'],\n//       ],\n//     );\n//     month.push(value['per_day']);\n// });\nseries.push(\"Students\");\nseries.push(\"Teacher\");\n\nmsg.payload = [{\n    series: series,\n    data:data,\n    labels: month\n}];\n msg.ui_control = {\n     options: {\n        scales: {\n            xAxes: [{\n                stacked: true\n            }],\n            yAxes: [{\n                stacked: true\n            }]\n        }\n    }\n}\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":460,"wires":[["d0a53cb1.f1b18","39cea2ba.cabaee"]]},{"id":"aec8d839.ce42f8","type":"function","z":"6c271006.6a18a","name":"Get History","func":"var room=msg.payload\nroom=\"room2\"\nmsg.topic=\"CALL getHistory('\"+room+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["2d59112f.4cdb7e"]]},{"id":"2d59112f.4cdb7e","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":730,"y":500,"wires":[["b822c077.ae6e8"]]},{"id":"b822c077.ae6e8","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nvar values=p[0];\nvar data = [];\nvar month = [];\nvar series=[];\nvar student=[];\nvar teacher=[];\nvar all=[];\nvalues.forEach(function(value){\n    student.push(value['count_student']);\n    teacher.push(value['count_teacher']);\n    all.push(value['count_all']);\n    month.push(value['per_day']);\n});\ndata.push(student,teacher)\n// values.forEach(function(value) {\n//     console.log(value);\n//   data.push(\n//       [  value['count_students'],\n//      value['count_teacher'],\n//     value['count_all'],\n//       ],\n//     );\n//     month.push(value['per_day']);\n// });\nseries.push(\"Students\");\nseries.push(\"Teacher\");\n\nmsg.payload = [{\n    series: series,\n    data:data,\n    labels: month\n}];\n msg.ui_control = {\n     options: {\n        scales: {\n            xAxes: [{\n                stacked: true\n            }],\n            yAxes: [{\n                stacked: true\n            }]\n        }\n    }\n}\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":500,"wires":[["5b48639d.0ca83c"]]},{"id":"5b48639d.0ca83c","type":"ui_chart","z":"6c271006.6a18a","name":"","group":"57f82290.5480ec","order":5,"width":"0","height":"0","label":"Total number users","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#02beed","#96d61f","#01a8c6","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":500,"wires":[[]]},{"id":"7fda28d6.2a85e8","type":"function","z":"6c271006.6a18a","name":"Get History","func":"var room=msg.payload\nroom=\"room1\"\nmsg.topic=\"CALL getHistory('\"+room+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":540,"wires":[["9cd836ca.8640b8"]]},{"id":"9cd836ca.8640b8","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":750,"y":540,"wires":[["59873b75.b12254"]]},{"id":"59873b75.b12254","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nvar values=p[0];\nvar data = [];\nvar month = [];\nvar series=[];\nvar student=[];\nvar teacher=[];\nvar all=[];\nvalues.forEach(function(value){\n    student.push(value['count_student']);\n    teacher.push(value['count_teacher']);\n    all.push(value['count_all']);\n    month.push(value['per_day']);\n});\ndata.push(student,teacher)\n// values.forEach(function(value) {\n//     console.log(value);\n//   data.push(\n//       [  value['count_students'],\n//      value['count_teacher'],\n//     value['count_all'],\n//       ],\n//     );\n//     month.push(value['per_day']);\n// });\nseries.push(\"Students\");\nseries.push(\"Teacher\");\n\nmsg.payload = [{\n    series: series,\n    data:data,\n    labels: month\n}];\n msg.ui_control = {\n     options: {\n        scales: {\n            xAxes: [{\n                stacked: true\n            }],\n            yAxes: [{\n                stacked: true\n            }]\n        }\n    }\n}\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":540,"wires":[["6bff1396.0cabfc"]]},{"id":"8e511438.48fde8","type":"mqtt in","z":"6c271006.6a18a","name":"","topic":"room2/entra","qos":"2","datatype":"auto","broker":"44518692.b4d328","x":90,"y":240,"wires":[["174da920.df45e7"]]},{"id":"6fb6fd7a.8aa134","type":"mqtt in","z":"6c271006.6a18a","name":"","topic":"room2/exit","qos":"2","datatype":"auto","broker":"44518692.b4d328","x":80,"y":300,"wires":[["174da920.df45e7"]]},{"id":"d83fc7ab.29fb98","type":"function","z":"6c271006.6a18a","name":"INSERT ","func":"var data=msg.topic.split(\"/\");\nvar data2=msg.payload.split(\"/\");\nmsg.room=data[0];\nmsg.state=data[1];\nmsg.username=data2[1];\nif(msg.state==\"entra\") msg.state=1;\nif(msg.state==\"exit\") msg.state=0;\nmsg.topic=' CALL insertUser(\"'+msg.room+'\",\"'+msg.username+'\", '+msg.state+', @p3);'\nmsg.payload = \"Data Inserted successfully!”  \";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["540dfcbb.db7a64","7bd80b3.aed1cf4"]]},{"id":"174da920.df45e7","type":"switch","z":"6c271006.6a18a","name":"IsEmpty","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":280,"wires":[["d83fc7ab.29fb98"]]},{"id":"d0a53cb1.f1b18","type":"debug","z":"6c271006.6a18a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":460,"wires":[]},{"id":"6bff1396.0cabfc","type":"ui_chart","z":"6c271006.6a18a","name":"","group":"7de48890.730fc8","order":5,"width":"0","height":"0","label":"Total number users","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#ff7d96","#9467bd","#01a8c6","#2ca02c","#98df8a","#d62728","#6a4e4d","#3f0476","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":540,"wires":[[]]},{"id":"39cea2ba.cabaee","type":"ui_chart","z":"6c271006.6a18a","name":"","group":"985b8e15.1a28a","order":5,"width":"0","height":"0","label":"Total number users","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#edaf02","#ff3838","#01a8c6","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":460,"wires":[[]]},{"id":"f5a85973.2ef4f8","type":"ui_chart","z":"6c271006.6a18a","name":"","group":"985b8e15.1a28a","order":4,"width":"0","height":"0","label":"People/Hour By Date","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#edaf02","#ff3838","#01a8c6","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":620,"wires":[[]]},{"id":"73f8041a.53864c","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":750,"y":620,"wires":[["187e445a.e9552c"]]},{"id":"187e445a.e9552c","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nvar values=p[0];\nvar data = [];\nvar month = [];\nvar series=[];\nvar student=[];\nvar teacher=[];\nvar all=[];\nvalues.forEach(function(value){\n    student.push(value['count_student']);\n    teacher.push(value['count_teacher']);\n    all.push(value['count_all']);\n    month.push(value['per_day']);\n});\ndata.push(student,teacher)\n// values.forEach(function(value) {\n//     console.log(value);\n//   data.push(\n//       [  value['count_students'],\n//      value['count_teacher'],\n//     value['count_all'],\n//       ],\n//     );\n//     month.push(value['per_day']);\n// });\nseries.push(\"Students\");\nseries.push(\"Teacher\");\n\nmsg.payload = [{\n    series: series,\n    data:data,\n    labels: month\n}];\n msg.ui_control = {\n     options: {\n        scales: {\n            xAxes: [{\n                stacked: true\n            }],\n            yAxes: [{\n                stacked: true\n            }]\n        }\n    }\n}\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":620,"wires":[["f5a85973.2ef4f8"]]},{"id":"cd6ca3e.694a16","type":"function","z":"6c271006.6a18a","name":"SELECT-Room3","func":"if(msg.payload)\nmsg.date=(new Date(msg.payload)).toLocaleDateString();\nelse\nmsg.date=(new Date()).toLocaleDateString();\n msg.date=msg.date.split(\"/\");\n msg.date=msg.date[2]+\"/\"+msg.date[0]+\"/\"+msg.date[1];\nmsg.topic=\"CALL getData('room3','\"+msg.date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":620,"wires":[["73f8041a.53864c"]]},{"id":"7551e64a.37fdf8","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":770,"y":660,"wires":[["bbbb1e58.e2299"]]},{"id":"bbbb1e58.e2299","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nvar values=p[0];\nvar data = [];\nvar month = [];\nvar series=[];\nvar student=[];\nvar teacher=[];\nvar all=[];\nvalues.forEach(function(value){\n    student.push(value['count_student']);\n    teacher.push(value['count_teacher']);\n    all.push(value['count_all']);\n    month.push(value['per_day']);\n});\ndata.push(student,teacher)\n// values.forEach(function(value) {\n//     console.log(value);\n//   data.push(\n//       [  value['count_students'],\n//      value['count_teacher'],\n//     value['count_all'],\n//       ],\n//     );\n//     month.push(value['per_day']);\n// });\nseries.push(\"Students\");\nseries.push(\"Teacher\");\n\nmsg.payload = [{\n    series: series,\n    data:data,\n    labels: month\n}];\n msg.ui_control = {\n     options: {\n        scales: {\n            xAxes: [{\n                stacked: true\n            }],\n            yAxes: [{\n                stacked: true\n            }]\n        }\n    }\n}\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":660,"wires":[["bf15b124.c5769"]]},{"id":"6d6d23bf.75d19c","type":"function","z":"6c271006.6a18a","name":"SELECT-Room2","func":"if(msg.payload)\nmsg.date=(new Date(msg.payload)).toLocaleDateString();\nelse\nmsg.date=(new Date()).toLocaleDateString();\n msg.date=msg.date.split(\"/\");\n msg.date=msg.date[2]+\"/\"+msg.date[0]+\"/\"+msg.date[1];\nmsg.topic=\"CALL getData('room2','\"+msg.date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["7551e64a.37fdf8"]]},{"id":"5c6588a7.d53058","type":"mysql","z":"6c271006.6a18a","mydb":"f906f82a.28c8c8","name":"DB","x":790,"y":700,"wires":[["c3d5f7fa.7c3678"]]},{"id":"c3d5f7fa.7c3678","type":"function","z":"6c271006.6a18a","name":"SELECT","func":"p=JSON.stringify(msg.payload);\np=JSON.parse(p);\nvar values=p[0];\nvar data = [];\nvar month = [];\nvar series=[];\nvar student=[];\nvar teacher=[];\nvar all=[];\nvalues.forEach(function(value){\n    student.push(value['count_student']);\n    teacher.push(value['count_teacher']);\n    all.push(value['count_all']);\n    month.push(value['per_day']);\n});\ndata.push(student,teacher)\n// values.forEach(function(value) {\n//     console.log(value);\n//   data.push(\n//       [  value['count_students'],\n//      value['count_teacher'],\n//     value['count_all'],\n//       ],\n//     );\n//     month.push(value['per_day']);\n// });\nseries.push(\"Students\");\nseries.push(\"Teacher\");\n\nmsg.payload = [{\n    series: series,\n    data:data,\n    labels: month\n}];\n msg.ui_control = {\n     options: {\n        scales: {\n            xAxes: [{\n                stacked: true\n            }],\n            yAxes: [{\n                stacked: true\n            }]\n        }\n    }\n}\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":700,"wires":[["3f264710.38b8e8"]]},{"id":"7dce7da2.6d97f4","type":"function","z":"6c271006.6a18a","name":"SELECT-Room1","func":"if(msg.payload)\nmsg.date=(new Date(msg.payload)).toLocaleDateString();\nelse\nmsg.date=(new Date()).toLocaleDateString();\n msg.date=msg.date.split(\"/\");\n msg.date=msg.date[2]+\"/\"+msg.date[0]+\"/\"+msg.date[1];\nmsg.topic=\"CALL getData('room1','\"+msg.date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":700,"wires":[["5c6588a7.d53058"]]},{"id":"a4260b76.c03ad8","type":"ui_date_picker","z":"6c271006.6a18a","name":"","label":"date","group":"57f82290.5480ec","order":3,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":430,"y":660,"wires":[["6d6d23bf.75d19c"]]},{"id":"97cf5fcc.24884","type":"ui_date_picker","z":"6c271006.6a18a","name":"","label":"date","group":"7de48890.730fc8","order":3,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":450,"y":700,"wires":[["7dce7da2.6d97f4"]]},{"id":"c6777d8c.8d692","type":"ui_date_picker","z":"6c271006.6a18a","name":"","label":"date","group":"985b8e15.1a28a","order":3,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":410,"y":620,"wires":[["cd6ca3e.694a16"]]},{"id":"97fcdb6d.6a46d8","type":"inject","z":"6c271006.6a18a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"Trigger Automatically","payload":"","payloadType":"date","x":290,"y":580,"wires":[["cd6ca3e.694a16","6d6d23bf.75d19c","7dce7da2.6d97f4"]]},{"id":"bf15b124.c5769","type":"ui_chart","z":"6c271006.6a18a","name":"","group":"57f82290.5480ec","order":4,"width":"0","height":"0","label":"People/Hour By Date","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#02beed","#96d61f","#01a8c6","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1120,"y":660,"wires":[[]]},{"id":"3f264710.38b8e8","type":"ui_chart","z":"6c271006.6a18a","name":"","group":"7de48890.730fc8","order":4,"width":"0","height":"0","label":"People/Hour By Date","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#ff7d96","#9467bd","#01a8c6","#2ca02c","#ff9c24","#45b57f","#f02724","#00b3ff","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1140,"y":700,"wires":[[]]},{"id":"2bf363f8.d55d7c","type":"ui_gauge","z":"6c271006.6a18a","name":"Room1","group":"7de48890.730fc8","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"People","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":200,"wires":[]},{"id":"a13e77ff.a763f8","type":"debug","z":"6c271006.6a18a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":140,"wires":[]},{"id":"44518692.b4d328","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"TEST","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f906f82a.28c8c8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"node_db","tz":"","charset":"UTF8"},{"id":"57f82290.5480ec","type":"ui_group","name":"Room2","tab":"8d587767.b0c958","order":2,"disp":true,"width":"6","collapse":false},{"id":"985b8e15.1a28a","type":"ui_group","name":"Room3","tab":"8d587767.b0c958","order":3,"disp":true,"width":"6","collapse":false},{"id":"7de48890.730fc8","type":"ui_group","name":"Room1","tab":"8d587767.b0c958","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d587767.b0c958","type":"ui_tab","name":"UNIGE DASHBOARD","icon":"dashboard","disabled":false,"hidden":false}]